/* Import Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.min.css";
/*VARIABLES TG*/
:root {
    --tg-color-primary-red: #E10600;
    --tg-color-seccond-red: #AF231C;
    --tg-color-gris: #382F2D;
    --tg-color-black: #25282A;
    --tg-color-fucsia: #e6005c;
    --tg-color-rojo-fuerte: #c0392b;
    --tg-color-rojo-oscuro: #8e0000;
    --tg-color-gris-marron-oscuro: #6e6259;
    --tg-color-gris-azul-oscuro: #2c3e50;
    --tg-color-rojo-brillante: #e74c3c;
    --tg-color-marron-rojizo-oscuro: #4b0e0e;
    --tg-color-gris-claro: #bdc3c7;
    --tg-color-gris-muy-oscuro: #2e2e2e;
    --color-instagram: #E4405F;
    --color-whatsapp: #25D366;
    --color-facebook: #1877F2;
    --color-youtube: #FF0000;
    --color-twitter: #1DA1F2;
    --color-linkedin: #0077B5;

}
h1{
    color:var(--tg-color-primary-red);
}
.icon {
    fill: #25282A; /* Color inicial */
    transition: fill 0.3s; /* Transición suave */
}

.icon-facebook:hover {
    fill: var(--color-facebook);
}

.icon-instagram:hover {
    fill: var(--color-instagram);
}

.icon-twitter:hover {
    fill: var(--color-twitter);
}

.icon-youtube:hover {
    fill: var(--color-youtube);
}

.icon-linkedin:hover {
    fill: var(--color-linkedin);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaNova-Black.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaNova-Bold.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaNovaCond-Light.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaNovaCond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaNovaCond-Regular.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaNovaCond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaNova-Extrabold.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaNova-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaNova-Light.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaNova-Regular.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaNova-Semibold.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-Black.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-BlackIt.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-Bold.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-BoldIt.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-BoldIt.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-ExtraBold.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-ExtraBoldIt.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-ExtraBoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-Light.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-LightIt.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-Medium.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-MediumIt.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-Regular.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-SemiBold.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-SemiBoldIt.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-SemiBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-Thin.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proxima-nova/ProximaSoft-ThinIt.otf') format('opentype'),
         url('/fonts/proxima-nova/ProximaSoft-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

body {
    font-family: 'Proxima Nova', sans-serif;
}
